[submodule "backend"]
	path = backend
	url = https://github.com/cannonfodderalt/studyco-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/cannonfodderalt/studyco-frontend.git
